
.main-header .sidebar-toggle:before {
  content: "ï“"; }

html {
  font-size: 100%; }

.brd {
  border: 2px solid red; }

.w100 {
  width: 100%; }

.mw100 {
  min-width: 100%; }

.Hidden {
  display: none !important; }

.pad0 {
  padding: 0!important; }

.mar0 {
  margin: 0!important; }

.padL0 {
  padding-left: 0px; }

.padR0 {
  padding-right: 0px !important; }

.txC {
  text-align: center; }

.txL {
  text-align: left; }

.txR {
  text-align: right; }

.form-field-title {
  font-size: 20px!important; }

.subtitle {
  display: block;
  padding: 15px 0; }

.subtitle span {
  font-size: 1.2rem;
  border-bottom: 1px solid #d9d9d9; }

.subTitleB {
  padding-bottom: 5px;
  background-color: rgba(240, 240, 240, 0.18);
  border-bottom: 2px solid #e1e1e1;
  padding: 5px;
  padding-left: 10px; }

.subTitleB .fa {
  margin-right: 5px;
  font-size: 14px; }

.subTitleA {
  padding-bottom: 5px;
  background-color: rgba(249, 246, 239, 1);
  border-bottom: 2px solid #876;
  padding: 5px;
  padding-left: 10px; }

.subTitleA .fa {
	margin-right: 5px; }

.innerContainer {
  border: 1px solid rgba(228, 228, 228, 0.8);
  padding: 15px;
  padding-top: 5px;
  margin: 10px 0; }

@media (max-width: 990px)
{
	.innerContainer {
	  margin: 10px 0; }
}

.imagesMain {
  margin-top: 20px; }

@media (max-width: 1200px)
{
  .imagesMain {
    margin-top: 0; }

  .imagesMain > div {
    margin: 10px 0; }
}


.imagesContainer {
  border: 1px solid rgba(228, 228, 228, 0.8);
  padding: 5px 15px 20px;
  text-align: center;
  min-height: 339px;
  vertical-align: text-bottom; }

.imgSelector {
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0 auto; }

.imgSelector img {
  position: absolute;
  display: block;
  z-index: 1;
  width: 190px;
  height: 190px;
  border-radius: 100%;
  margin: 0 auto; }

.imgSelectorInner {
  width: 190px;
  height: 190px;
  margin: 0 auto; }

.imgSelectorContent {
  position: absolute;
  display: table;
  z-index: 2;
  opacity: 0;
  width: 190px;
  height: 190px;
  border-radius: 100%;
  vertical-align: middle;
  text-align: center;
  margin: auto;
  transition: all 0.3s ease 0s; }

.imgSelectorContent:hover {
  opacity: 1;
  background: rgba(34, 34, 34, 0.62) center no-repeat;
  -webkit-box-shadow: 7px 6px 5px -6px rgba(0, 0, 0, 0.75) !important;
  -moz-box-shadow: 7px 6px 5px -6px rgba(0, 0, 0, 0.75) !important;
  box-shadow: 7px 6px 5px -6px rgba(0, 0, 0, 0.75) !important;
  filter: brightness(1.3); }

.imgSelectorContent .fa {
  font-size: 35px;
  color: #fff; }

.imgSelectorContent div {
  display: table-cell;
  vertical-align: middle;
  cursor: pointer;
  color: #fff; }

.imgSelectorClicked {
  opacity: 1;
  background: rgba(34, 34, 34, 0.62) center no-repeat;
  -webkit-box-shadow: 7px 6px 5px -6px rgba(0, 0, 0, 0.75) !important;
  -moz-box-shadow: 7px 6px 5px -6px rgba(0, 0, 0, 0.75) !important;
  box-shadow: 7px 6px 5px -6px rgba(0, 0, 0, 0.75) !important;
  filter: brightness(1.3); }

@media (max-width: 290px)
{
		.imgSelectorInner, .imgSelectorContent {
		  width: 120px;
		  height: 120px; }

		.imgSelector img {
		  width: 120px;
		  height: 120px; }
}

.multipleImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center; }

.multipleImg li {
  margin: 5px; }

.multipleImg li img {
  width: 80px;
  height: 80px; }

.multipleImg li.mainImg {
  text-align: center; }

.multipleImg li.mainImg img {
  width: 110px;
  height: 110px; }


.smallThumbsList ul {
  padding: 0;
  margin: 0;
  margin-top: 20px; }

.smallThumbsList ul li {
  position: relative;
  list-style: none;
  display: inline-block;
  margin-bottom: 15px;
  margin-left: 3px;
  margin-right: 3px; }

.smallThumbsList ul li img {
  width: 90px;
  max-width: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }

.smallThumbsList ul li img:hover {
  cursor: pointer;
  -webkit-box-shadow: 7px 6px 5px -6px rgba(0, 0, 0, 0.75) !important;
  -moz-box-shadow: 7px 6px 5px -6px rgba(0, 0, 0, 0.75) !important;
  box-shadow: 7px 6px 5px -6px rgba(0, 0, 0, 0.75) !important; }

.btn {
  border: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }

.btn-green {
  background-color: #49a462;
  margin: 2px 2px;
  color: #fff; }
.btn-green:hover, .btn-green:active, .btn-green:focus {
  background-color: #5cc87a;
  color: #fff; }

.btn-blue {
  background-color: #4c7eb9;
  margin: 2px 2px;
  color: #fff; }
.btn-blue:hover, .btn-blue:active, .btn-blue:focus {
  background-color: #82a2c9;
  color: #fff; }

.btn-red {
  background-color: #cf5653;
  margin: 2px 2px;
  color: #fff; }
.btn-red:hover, .btn-red:active, .btn-red:focus {
  background-color: #cd7371;
  color: #fff; }

.btn-yellow {
  background-color: #c4c746;
  margin: 2px 2px;
  color: #fff; }
.btn-yellow:hover, .btn-yellow:active, .btn-yellow:focus {
  background-color: #cbcd6f;
  color: #fff; }

.btn-brown {
  background-color: #773017;
  margin: 2px 2px;
  color: #fff; }
.btn-brown:hover, .btn-brown:active, .btn-brown:focus {
  background-color: #a1553b;
  color: #fff; }

.btn-gray {
	background-color: #dfdfdf;
	margin: 2px 2px;
	color: #000; }
.btn-gray:hover, .btn-gray:active, .btn-gray:focus {
  background-color: #c8c8c8;
  color: #000; }

.btn-grey {
  background-color: #d6d6d6;
  color: #000; }
.btn-grey:hover, .btn-grey:active, .btn-grey:focus {
  background-color: #a4a4a4;
  color: #fff; }

.label-brown {
  background-color: #773017;
  color:#FFF!important;
}

.bg-brown {
  background-color: #773017 !important;
  color:#FFF!important;
}

.back-blue {
  background-color: #9795ef;
  color: #fff;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s; }
.back-blue:hover, .back-blue:focus, .back-blue:active {
  background-color: #a9a7ed; }

.back-green {
	background-color: #84b68a;
  color: #fff;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s; }
.back-green:hover, .back-green:focus, .back-green:active {
  background-color: #a3cba8; }

.back-red {
  background-color: #cd6767;
  color: #fff;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s; }
.back-red:hover, .back-red:focus, .back-red:active {
    background-color: #d58181; }

.back-grey {
  background-color: #cdcdcd;
  color: #000;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s; }
.back-grey:hover, .back-grey:focus, .back-grey:active {
  background-color: #dad8d8; }

.back-yellow {
  background-color: #f0ad4e;
  color: #fff;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s; }
.back-yellow:hover, .back-yellow:focus, .back-yellow:active {
  background-color: #f4b863; }


@media (max-width: 990px) {
  .hideMobile {
    display: none!important; }
  .list-margin-top{
    margin-top:5em;
  }
}

@media (min-width: 990px) {
  .showMobile {
    display: none!important; }
  .list-margin-top{
    margin-top:1em;
  }
}

.loader {
  background: rgba(0, 0, 0, 0.83);
  width: 100%;
  height: 100%;
  max-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.loader img.loaderLogo {
  height: 100px;
  max-width: 100%;
	background-color: #eee;
	}

	.flex-container {
	  display: -webkit-box;
	  display: -ms-flexbox;
	  display: flex;
	  -webkit-box-align: center;
	  -ms-flex-align: center;
	  -ms-grid-row-align: center;
	  align-items: center; }

	.flex-justify-center {
	  display: -webkit-box;
	  display: -ms-flexbox;
	  display: flex;
	  -webkit-box-align: center;
	  -ms-flex-align: center;
	  -ms-grid-row-align: center;
	  align-items: center;
	  -webkit-box-pack: center;
	  -ms-flex-pack: center;
	  -webkit-box-pack: center;
	  -ms-flex-pack: center;
	  justify-content: center; }

	.flexLeftVertCent {
	  display: -webkit-box;
	  display: -ms-flexbox;
	  display: flex;
	  align-items: center;
	  justify-content: flex-start; }

	.flex-allCenter {
	  justify-content: center;
	  width: 100%;
	  display: -ms-flexbox;
	  display: -webkit-flex;
	  display: flex;
	  -ms-flex-align: center;
	  -webkit-align-items: center;
	  -webkit-box-align: center;
	  align-items: center;
	  -webkit-box-orient: vertical;
	  -webkit-box-direction: normal;
	  -ms-flex-direction: column;
	  flex-direction: column; }

	.flex-SHeight {
	  display: -webkit-flex;
	  display: -ms-flexbox;
	  display: flex;
	  -webkit-flex-wrap: wrap;
	  -ms-flex-wrap: wrap;
	  flex-wrap: wrap; }

	.flex-SHeightInner {
	  display: -webkit-flex;
	  display: -ms-flexbox;
	  display: flex; }

	.flex-wrap {
	  -ms-flex-wrap: wrap;
	  flex-wrap: wrap; }

	.flex-noWrap {
	  -ms-flex-wrap: nowrap;
	  flex-wrap: nowrap; }

	.cursor-pointer {
		cursor:pointer;
	}

  .padding-top-10{
    padding-top: 10px!important;
  }

  .margin-top-10{
    margin-top: 10px!important;
  }
